.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: left;
}

.App-header h1 {
  margin: 0;
}

/* In MovieGrid.tsx, the size of the movie container */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* In Recommendations.tsx, the 'x' dislike button to the top right of each recommended  */
.dislike-button {
  position: absolute;   /* Make button start in the top left corner rather than centered at the top*/
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: rgb(216, 216, 216);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
}
/* In Recommendations.tsx, the 'x' dislike button gets darker when you hover over it */
.dislike-button:hover {
  background-color:  rgb(181, 181, 181);
}


/* In Recommendations.tsx, the overall list (make it one row) */
.genres ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* In Recommendations.tsx, the list entries (make them spaced apart) */
.genres li {
  background-color: #dadada;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

/* In Settings.tsx, the individual movies in each list */
li {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* In Settings.tsx, the Liked Movies and Disliked Movies columns */
.movie-columns {
  display: flex;
  justify-content: space-between;
}

/* In MovieGrid.tsx, the grid itself with 4 movies per row */
.Movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
/* In MovieGrid.tsx, each movie in the grid */
.Movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
/* In MovieGrid.tsx, each movie poster */
.Movie-item img {
  width: 160px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}
/* In MovieGrid.tsx, each movie title */
.Movie-item p {
  margin-top: 10px;
  font-weight: bold;
}
/* In MovieGrid.tsx, a movie poster when you select it gets a green glow */
.Movie-item.selected img {
  transform: scale(1.01);
  box-shadow: 0 0 5px 5px rgba(0, 255, 0, 0.7);
}

/* In Recommendations.tsx, the movie item itself */
.movie-card {
  margin-right: 20px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}
/* In Recommendations.tsx, the movie poster */
.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* In Recommendations.tsx, the movie title */
.movie-card p {
  margin-top: 10px;
  font-weight: bold;
}
/* In Recommendations.tsx, a row for the RecommendationSet */
.movie-row {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.Next-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.Next-button:hover {
  background-color: #0056b3;
}

.Next-button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.8;
}

/* In Recommendations.tsx, making the page behind the popup darker */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* In Recommendations.tsx, the pop up box container */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y:auto;
}
/* In Recommendations.tsx, each of the 5 rows in the modal */
.popup-row {
  width: 100%;
  margin-bottom:-5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* In Recommendations.tsx, the movie poster in row 1 */
.popup-poster {
  margin-top:10px;
  width:200px;
  height: 300px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
/* In Recommendations.tsx, the title in row 2 */
.popup-title h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}
/* In Recommendations.tsx, the container of the rating and release date in row 3 */
.popup-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* In Recommendations.tsx, the rating and release date in row 3 */
.popup-info-item {
  width: 50%;
  text-align: center;
}

/* In Recommendations.tsx, the 'Since you liked [movie]' and the dropdown menu */
.recommendation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* In Recommendations.tsx, the dropdown menu */
.recommendation-header select {
  padding: 5px;
  font-size: 16px;
}

/* In Recommendations.tsx, the space between each RecommendationSet */
.recommendation-set {
  margin-bottom: 20px;
}
/* In Recommendations.tsx, the space between the RecommendationSet 'Since you liked' and the movie posters */
.recommendation-set h2 {
  margin-bottom: 10px;
}

.Selected-movies-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(200, 200, 200);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.Selected-movies-row img {
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
}

.settings-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* In Settings.tsx, the unordered list (which contains li) */
ul {
  list-style-type: none;
  padding: 0;
}


